[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/hanyuan.cai (caihanyuan)
[access "refs/for/refs/*"]
	read = group user/hanyuan.cai (caihanyuan)
	push = group user/hanyuan.cai (caihanyuan)
	label-Code-Review = -2..+2 group user/hanyuan.cai (caihanyuan)
	label-Verified = -1..+1 group user/hanyuan.cai (caihanyuan)
	rebase = group user/hanyuan.cai (caihanyuan)
	removeReviewer = group user/hanyuan.cai (caihanyuan)
	submit = group user/hanyuan.cai (caihanyuan)
[access "refs/heads/*"]
	read = group user/hanyuan.cai (caihanyuan)
	create = group user/hanyuan.cai (caihanyuan)
	push = +force group user/hanyuan.cai (caihanyuan)
	pushMerge = group user/hanyuan.cai (caihanyuan)
[access "refs/tags/*"]
	push = +force group user/hanyuan.cai (caihanyuan)
	pushTag = group user/hanyuan.cai (caihanyuan)
	pushSignedTag = group user/hanyuan.cai (caihanyuan)
